<div id="doc">
    <div id="hd" role="banner"><h1>{title}</h1></div>
    <div id="bd" role="main">
        <div id="nav">
            <ul>
                <li class="home selected"><a href="/">Home</a></li>
                <li class="modules"><a href="/modules">Dashboard</a></li>
                <li><a href="http://yuilibrary.com/gallery/">YUI Gallery Website</a></li>
            </ul>
        </div>
        <div id="yui-main">
            <div class="yui-b">
                <div class="yui-g yui3-skin-san" id="content">
                </div>
            </div>
        </div>
    </div>
   <div id="ft" role="contentinfo">&copy;2010 <a href="http://twitter.com/caridy">@caridy</a></div>
</div>