#hd {
    background-color: #22252A;
    padding: 1em;
    border: 1px solid black;
    margin: 1em 0;
}
#hd h1 {
    color: #ccc;
    font-weight: bold;
    font-size: 150%;
    
}

#ft {
    margin-top: 10px;
    font-size: 80%;
}

#content p {
    padding: .25em 0;
    margin: 1em 0;
}

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    float: left;
}

#nav a {
    display: block;
    border: 1px solid black;
    background-color: #ccc;
    color: #22252A;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
}

#nav li.selected a {
    background-color: #22252A;
    color: #ccc;
}

#content h1, #content h2 {
    font-weight: bold;
    font-size: 120%;
    margin: 1em 0;
}

#yui-main {
    clear: both;
    padding-top: 5px;
}

ul.modules li {
    border-bottom: 1px solid #888;
    padding: 5px 0;
}
    ul.modules li a.gallery {
        font-size: 80%;
        color: green;
    }
    ul.modules li .summary{
        font-size: 80%;
    }
    ul.modules li .build {
        font-size: 70%;
        font-style: italic;
    }

.module-badge {
    padding: 5px 0;
    font-size: 90%;
}
.module-tabview {
    padding: 10px 0 0 0;
}

.api-iframe {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 5px 0 0 0;
    height: 600px;
}